.fira-sans-normal {
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

/* body styles */

body{
    max-width: 1280px;
    margin: 20px auto;
}
  
  

/* shared styles */

.btn-primary{
    background-color: #006A50;
    font-weight: 600;
    font-size: 18px;
    border: none;
    color: white;
    padding: 17px 34px;
    border-radius: 8px;
}

.dark-2{
    color: rgba(14, 14, 14, 0.5);
}

.secondary-bg{
    background-color: #C6E4D6;
}


/* banner styles */

.banner{
    display: flex;
    justify-content: space-between;
    padding: 80px 60px 80px 60px;
    border-radius: 24px;
    max-width: 1280px;
}

.banner-content{
    max-width: 622px;
    max-height: 326px;
    margin: 37px 0;
    
}

.banner-greetings{
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    
}

.banner-title{
    font-weight: bold;
    font-size: 56px;
    margin: 24px 0;
}

.banner-picture{
    width: 474.03px;
}